{# templates/report.html #}
<!DOCTYPE html>
<html>

<head>
    <style>
        table {
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <h1>Report</h1>
    <img src="data:image/png;base64, {{ image_1 }}" />

    <details>
        <summary>
            URLs ({{url|length}})
        </summary>
        <table>
            <tr>
                <th>URL</th>
                <th>Title</th>
                <th>Category</th>
                <th>Status</th>
            </tr>
            {% for data in all_data %}
            <tr>
                <td>{{ data[0] }}</td>
                <td>{{ data[1] }}</td>
                <td>{{ data[2] }}</td>
                {% if not '200' in data[3] %}
                <td style="background-color: #E14D2A;">{{ data[3] }}</td>
                {% else %}
                <td style="background-color: #5D9C59;">{{ data[3] }}</td>

                {% endif %}


            </tr>
            {% endfor %}
        </table>

    </details>
</body>

</html>